:root {
    --color-oscuro1: #003C43;
    --color-oscuro0: #135D66;
    --color-claro0: #77B0AA;
    --color-claro1: #E3FEF7;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    background-color: rgb(230, 225, 225);
}

/* ---------INICIO Header--------- */


.header__nav {
    position: fixed;
    background-color: rgba(0, 0, 0, .1);
    backdrop-filter: blur(2px);
    top: 0;
    width: 100vw;
    height: 100px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 30px 40px;
    font-family: helvetica;
    font-size: 1.7em;

}

.header__nav-list {
    display: flex;
    gap: 40px;
}

.header__nav-list-link {
    color: black;
    font-weight: 400;
    text-decoration: none;
    font-size: inherit;
    
}

.header__nav-logo {
    color: black;
    font-size: inherit;
    font-weight: 600;
    text-decoration: none;
  

}


/* INICIO background  */
.main__background {
    position: relative;
    top: 0;
    background-image: url(imagenes/fondo.jpg);
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    opacity: 0.9;
    height: 70vh;
    width: 100vw;
}

/* INICIO panel de busqueda */
.main__background__panel-bg {
    position: relative;
    top: 180px;
    margin: auto;
    padding: 10px;
    backdrop-filter: blur(2px);
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.main__background__panel {
    margin: auto;
    padding: 45px 10px;
    width: 800px;
}

.main__background__panel__select {
    margin: -3px;
    border: none;
    height: 40px;
    width: 200px;
    transition: all 500ms ease-out;

}

.main__background__panel__button {
    padding: 12px 50px;
    color: white;
    text-decoration: none;
    background-color: var(--color-oscuro1);
    transition: all 500ms ease-out;
}

/* -----------------INICIO Main (index) ----------------- */

/* 2.a) Main ( container ) */

.container-main {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.main__title {
    text-align: center;
    font-size: inherit;
    font-weight: 600;
    background-color: rgb(0, 0, 0);
    opacity: .9;
    color: var(--color-oscuro0);
    padding: 30px;
}
/* 2.b) Main (Galeria de imagenes) */
.main {
    flex: 1;
    position: relative;
    width: 100vw;
    display: flex;
    flex-direction: column;
    padding-bottom: 60px;

}


.main__galery {
    width: 90vw;
    margin: auto;
    padding-bottom: 60px;
}

.main__galery > h2 {
    text-align: center;
    font-size: 1.29rem;
    padding: 30px;
    border-bottom: 1px solid #999;
}

.main__galery__articles  {
    width: 80vw;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 50px;
}

.article__card {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 360px;
    width: 330px;
    border: 2px solid var(--color-oscuro0);
    border-top: none;
    border-radius: 10px;
}

.article__card__info {

    align-items: center;
    padding-top: 15px;
    color: rgba(0, 0, 0, 0.853);
    background-color: white;
    width: 100%;
    padding: 10px 0;
    font-size: 14px;
    border-radius: 10px;
    text-align: start;
    text-indent: 10px;
    line-height: 1.3;
}
.info-inicio{
    font-weight: 100;
}
.article__card__info-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around   ;
    gap: 5px;
    padding-top: 9px;
    font-weight: 500;
    font-size: .9em;

}
.article__card__info-precio{
    padding-top: 10px;
    padding-bottom: 2px;
    font-size: 1.6em;
    margin-left: 80px;
    color: var(--color-oscuro0);


}

.article__card__figure {
    position: relative;
    height: 330px;
    width: 330px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 8px;
    box-shadow: 0 5px 25px rgba(0,0,0,0.5);
    cursor: pointer;
}

.article__card__figure-imagen {
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}


.article__card__figure-capa h2 {
    color: white;
    font-weight: 400;
    margin-top: 220px;
    transition: all 500ms ease-out;
}

/* -----------------INICIO Footer----------------- */
.footer {
    background-color: #111;
    width: 100vw;
    padding: 15px;
    display: flex;
    flex-direction:row ;
    justify-content: space-around;
    padding-bottom: 50px;
}

.footer__us {
    font-size: inherit;
    width: 60vw;
    color: gray;
    text-align: start;
    padding: 0;
    margin: 0;
    padding-top: 30px;
    line-height: 2rem;

}

.footer__info {
    font-size: inherit;
    padding-top: 30px;
    padding-right: 50px;
    line-height: 1.5rem;
    text-wrap: pretty;
    width: 40vw;
    color: gray;
    text-align: center;
    text-wrap: balance;

}

/* ----- INICIO CONTACTO ----- */
.contacto-container{
    height: auto;
    background-color: white;
    width: 90vw;
    display: flex;
    flex-direction: column;
    margin: auto;
}
.contacto-container__bg{
    margin-top: 90px;
    background-image:url(imagenes/fondo_contacto.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 260px;
    width: 90vw;

}
.contacto-container__box{
    display: flex;
    background-color: white;
    padding: 90px 20px;
    height: 550px;
    width: 90vw;
}
.contacto-container__box__image{
    width: 40vw;
    height: 350px;
    border-radius: 2000px;
    border: 1px solid black;
    background-image: url(imagenes/gato_grande.jpg);
    background-position: center;
    background-size: cover;
}
.contacto-container__box__div{
    width: 60vw;
    height: 350px;
}
.contacto-container__box__div > h2{
    padding-left: 25vw;
    color: #222;
}
.contacto-container__box__div__form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    gap: 15px;

}
.contacto-container__box__div__form__input{
    margin: auto;
    margin-right: 10px;
    height: 30px;
    width:55%;
}
.input-msg{
    height: 100px;
}
.input-sumbit{
    width: 30%;
}

/* ----- FIN CONTACTO ----- */




/* Media Querys */

@media screen and (max-width:999px) {
   /* header */
    .header__nav{
        font-size: 1em;
        flex-direction: column;
        padding: 10px;
        height: auto;
        width: 100vw;

    }
    .header__nav-logo{
        width: 100vw;
        text-align: center;
    }
    .header__nav-list{
        justify-content: space-evenly;
        margin: auto;
    }
    .header__nav-list-link{
        font-size: .9em;
    }
    /* background */
    .main__background{
        background-image: url(imagenes/fondo_mobile.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 450px;
        width: 100vw;
    }
    /* panel  */
    .main__background__panel-bg{
        width: 35vw;
        top: 110px;
        flex-direction: row;
        margin: auto;
    }
    .main__background__panel{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0;
        height: auto;
    }
    .main__background__panel__select{
        margin-bottom: 20px;
    }
    .main__background__panel__button{
        padding-top: 10px;
    }
    /* main */
   
    .container-main{
        margin: auto;
        font-size: .65em;
    }
    .main__title{
        padding: 20px;
    }
    /* main/galeria */
    .main__galery{
        width: 90vw;
    }
    .main__galery > h2{
        font-size: 1.36em;
    }
    .main__galery__articles{
        gap: 8px;
        justify-content: center;
        gap: 6%;

    }
    .article__card{
        width: 280px;
        height: 300px;

    }
    .article__card__figure, .article__card__figure-imagen{
        width: 280px;
        height: 220px;
    }
    .article__card__info{
        text-align: center;
        width: 100%;
        font-size: 1.2em;
    }
    .article__card__info-flex{
        display: flex;
        flex-flow: row wrap;
        margin: auto;
    }
    .article__card__info-precio{
        visibility: visible;
        display: inline-block;
        margin: 0;
    }
    
    /* footer */
    .footer{
        flex-direction: column;
        font-size: .7em;
        align-items: center;
    }
    .footer__us{
        width: auto;

    }
    .footer__info{
        font-size: 1.2em;
        line-height: 1.2em;
        padding: 20px;
        padding-top: 40px;
        width: auto;

    }
    /* contacto */
    .contacto-container__bg{
        background-image: url(imagenes/fondo_contacto_moble.png);
        width: 90vw;
        height: 112px;
    }
    .contacto-container__box{
        flex-direction: column;
    }
    .contacto-container__box__image{
       display: none;
    }
    .contacto-container__box__div{
        margin: auto;
    }
   
    .contacto-container__box__div__form{
        align-items: center;

    }
    .contacto-container__box__div__form__input{
        margin: 0;
        width: 70vw;
    }
    .contacto-container__box__div > h2{
        padding: 0;
        text-align: center;
    }

}
