:root {
    --color-oscuro1: #003C43;
    --color-oscuro0: #135D66;
    --color-claro0: #77B0AA;
    --color-claro1: #E3FEF7;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    background-color: rgb(230, 225, 225);
}

/* ---------INICIO Header--------- */
.header__background {
    position: absolute;
    background-image: url(fondo.jpg);
    background-position: center ;
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    height: 70vh;
    width: 100vw;
    z-index: 0;
    opacity: 0.9;
}

.header__nav {
    position: fixed;
    background-color: rgba(0, 0, 0, .1);
    backdrop-filter: blur(2px);
    top: 0;
    width: 100vw;
    height: 100px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    padding: 30px 40px;
    font-family: helvetica;
    font-size: 1.7em;
    animation: header-animation both;
    animation-timeline: scroll();
    animation-range: 10px 350px;
}

.header__nav-list {
    display: flex;
    gap: 40px;
    padding-right: 30px;
}

.header__nav-list-link {
    color: black;
    font-weight: 400;
    text-decoration: none;
    font-size: inherit;
    animation: header-animation-links both;
    animation-timeline: scroll();
    animation-range: 10px 350px;
}

.header__nav-logo {
    color: black;
    font-size: inherit;
    font-weight: 600;
    text-decoration: none;
    padding: 10px;
    padding-top: 0;
    animation: header-animation-logo both;
    animation-timeline: scroll();
    animation-range: 10px 350px;
}

@media screen and (max-width:320px) {
   
    .header__background{
        background-image: url(fondo_mobile.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .header__nav{
        font-size: 1em;
        flex-direction: column;
        padding: 10px;
        height: auto;
        width: 100vw;

    }
    .header__nav-logo{
        
        margin: auto;
    }
    .header__nav-list{
        justify-content: space-around;
        margin-left: 10%;
    }
}
